.text {
  --max-width: 768px;

  max-width: var(--max-width);
  width: var(--max-percentage);

  padding: 1rem;
  margin: 0 auto;

  color: var(--foreground-color);

  text-align: center;

  & a {
    color: var(--title-color);

    font-weight: 700;
    font-style: italic;
  }
}
