.footer {
  --max-width: 768px;

  display: flex;
  justify-content: right;

  max-width: var(--max-width);
  width: var(--max-percentage);

  margin: 0 auto;

  & button {
    display: grid;
    place-items: center;

    padding: 0.5rem;
    margin-top: 0.5rem;

    background-color: var(--foreground-color);
    color: var(--background-color);

    font-weight: 700;

    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
}
