.password_input {
  & label {
    padding: 0 !important;
    margin: 0 0 0.5rem 0 !important;
  }

  & div {
    display: flex !important;
    gap: 0.25rem;

    & input {
      width: var(--max-percentage);
    }

    & button {
      display: grid;
      place-items: center;

      width: 3rem;
    }
  }
}

.forgot_password {
  padding: 0.5rem;

  color: var(--background-color);

  text-align: center;

  & a {
    color: var(--title-color);

    font-style: italic;

    font-weight: 600;
  }
}
